<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
     {{!-- <div class="container mt-5">
       <div class="row d-flex justify-content-center">
        <div class="col-8 mb-5 loginf">
            <h2 style="text-align: center;">Login</h2>
             <form action="/login" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">username</label>
            <input type="text" class="form-control" id="title" name="username">
        </div>
        <div class="mb-3">
            <label for="discriptions" class="form-label">password</label>
            <input type="text" class="form-control" id="discriptions" name="password">
        </div>
        <div class="login-btn">
          <button type="submit" class="btn btn-primary">Login</button>
        <a href="/register">Create account?</a>
        </div>
             </form>
        </div>
       </div>
      </div>
    </div> --}}
     <div class="container mt-5">
       <div class="row d-flex justify-content-center">
        <div class="col-8 mb-5 loginf">
            <div class="form-container">
                <h1>Login</h1>
                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="Username" required><br>
                    <input type="password" name="password" placeholder="Password" required><br>
                    <button type="submit">Login</button>
                </form>
                <p>Create account? <a href="/register">Register</a></p>
            </div>
        </div>
       </div>
      </div>
    </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        (function($) { // Begin jQuery
    $(function() { // DOM ready
      // If a link has a dropdown, add sub menu toggle.
      $('nav ul li a:not(:only-child)').click(function(e) {
        $(this).siblings('.nav-dropdown').toggle();
        // Close one dropdown when selecting another
        $('.nav-dropdown').not($(this).siblings()).hide();
        e.stopPropagation();
      });
      // Clicking away from dropdown will remove the dropdown class
      $('html').click(function() {
        $('.nav-dropdown').hide();
      });
      // Toggle open and close nav styles on click
      $('#nav-toggle').click(function() {
        $('nav ul').slideToggle();
      });
      // Hamburger to X toggle
      $('#nav-toggle').on('click', function() {
        this.classList.toggle('active');
      });
    }); // end DOM ready
  })(jQuery); // end jQuery
    </script>
</body>
</html>